# ==========================================
# Environment
# ==========================================
.env
**/.env

venv/
.venv/
venv_code/
**/venv_code/
ENV/

# ==========================================
# Python cache
# ==========================================
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# ==========================================
# Virtual environments
# ==========================================
high_code_agentic_workflow/google_agentic_development/google_dev/

# ==========================================
# ADK
# ==========================================
high_code_agentic_workflow/google_agentic_development/generic_chatbot/.adk/

# ==========================================
# MLflow
# ==========================================
high_code_agentic_workflow/multi_agentic_code_analizer/mlartifacts/

# ==========================================
# Generated databases
# ==========================================
*.db
*.sqlite
*.sqlite3

# ==========================================
# IDE
# ==========================================
.vscode/
.idea/

# ==========================================
# Operating System
# ==========================================
.DS_Store
Thumbs.db